-i https://pypi.douban.com/simple
altgraph==0.16.1
certifi==2018.10.15
chardet==3.0.4
colorama==0.4.0
future==0.17.1
idna==2.7
macholib==1.11
pefile==2018.8.8
Pillow==8.2.0
PyInstaller==3.4
pynrfjprog==10.11.1
PyQt5==5.15.9
PyQt5-sip==12.12.0
pywin32-ctypes==0.2.0
qrcode==6.0
requests==2.21.0
simplejson==3.17.2
six==1.11.0
urllib3==1.23
